{% extends "basic.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
{% if name %}
<h1>Welcome to our site, {{ name|title }}!</h1>
{% else %}
<h1>Welcome to our site!</h1>
{% endif %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li<{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<input type="button" value="Click!" onclick="hello()">
{% endblock %}